<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.sibin.expirydate">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/saarang_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScannerActivity" />
        <activity android:name=".AddEntryActivity" />
        <activity android:name=".GetEntryActivity" />

        <service
            android:name=".ShowNotification"
            android:exported="false" />
        <service
            android:name=".ShowNotificationThree"
            android:exported="false" />

        <activity android:name=".NihalActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BillsActivity" />
        <activity android:name=".NewBillActivity"></activity>
    </application>

</manifest>